server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/wallet?useSSL=false&serverTimezone=Europe/Moscow
    username: root
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
