.control {
    display: flex;
    justify-content: center;
}

.buttons {
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    border: none;
    width: 250px;
    height: 50px;
    font-size: 23px;
    margin-left: 30px;
    margin-right: 30px;
}

.buttons:hover {
    background: rgb(4, 90, 124);
}

.buttonDelete {
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    background: rgb(241, 19, 64);
    background: linear-gradient(0deg, rgba(241, 19, 64,1) 0%, rgb(150, 7, 36) 100%);
    border: none;
    width: 250px;
    height: 50px;
    font-size: 23px;
    margin-left: 30px;
    margin-right: 30px;
}

.buttonDelete:hover {
    background: rgb(150, 7, 36);
}

.infoOperation {
    margin: 15px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
}

.inputAddMoney {
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.015);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 20%;
    font-size: 24px;
    outline: none;
    color: #FFF;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.inputAddCardSend {
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.015);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 25%;
    font-size: 24px;
    outline: none;
    color: #FFF;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}