#main-app {
    background: url("https://www.xmple.com/wallpaper/purple-gradient-blue-linear-1920x1080-c2-87cefa-da70d6-a-195-f-14.svg");
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.card {
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    width: 360px;
    height: 200px;
    background: #292C3A;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    flex-flow: row wrap;
    cursor: pointer;
    z-index: 1;
    position: relative;
    transition: all ease 0.45s;
}


.card-number {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Muli", sans-serif;
    font-size: 30px;
    color: #FFF;
    width: 100%;
    cursor: pointer;
}

.card_holder {
    width: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Muli", sans-serif;
    cursor: pointer;
}

.ng-binding {
    font-size: 30px;
    color: #FFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Muli", sans-serif;
    cursor: pointer;
}

.cash-binding {
    font-size: 30px;
    color: #c22d2d;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Muli", sans-serif;
    cursor: pointer;
}

.card_icon {
    width: 20%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Muli", sans-serif;
    cursor: pointer;
}
