.dropdown {
    position: relative;
    float: right;
    margin-right: 0.5vw;
}

.avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 10%;
    margin-right: 10%;
    margin-right: 15px;
    transition: 1s;
    border-radius: 360px;
}

.avatar:hover {
    transform: scale(1.05)
}

.dropdown-content {
    background: rgb(22, 24, 33) none repeat scroll 0% 0%;
    box-shadow: rgb(131, 173, 221) 0px 3px 6px 0px;
    display: none;
    top: 50px;
    right: 10px;
    opacity: 1;
    z-index: 5;
    position: absolute;
    min-width: 160px;
    border-radius: 5px;
    margin: 8%;
    float: right;
    text-align: center;
    box-sizing: border-box;
}

.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;

}

.-label {
    cursor: pointer;
    height: 100px;
    width: 100px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: transparent;
    font-size: 10px;
}

.inputImage {
    display: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}

.outputImage {
    position: absolute;
    object-fit: cover;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
    border: 0;
    box-sizing: border-box;
    color: transparent;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.userName {
    color: #83addd !important;
    font-weight: 400;
    font-size: 24px;
    margin: 7px 0 0 0 !important;
}

.userEmail {
    color: #b3b8be !important;
    font-size: 18px;
    margin: 10px 0 0 0 !important;
}

.buttonLogout {
    color: #161821;
    background: #83addd;
    font-size: 120%;
    font-weight: 600;
    letter-spacing: 0.025em;
    border: none;
    border-radius: 15px;
    min-height: 35px;
    width: 115px;
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 17px 0 !important;
}

.buttonLogout:hover {
    box-shadow: 0px 0px 5px 0px #14B2E9, inset 0px 0px 0px 0px #14b2f3 !important;
}