<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>

    <link href=/css/index.css type="text/css" rel=stylesheet>
    <link href=/css/profile.css type="text/css" rel=stylesheet>

    <script src="/js/lib/react.development.js"></script>
    <script src="/js/lib/react-dom.development.js"></script>
    <script src="/js/lib/babel.min.js"></script>
    <script src="/js/lib/react-router-dom.min_v5.js"></script>

    <script type="text/babel" src="/js/components/main.jsx"></script>
    <script type="text/babel" src="/js/components/cardAdd.jsx"></script>
    <script type="text/babel" src="/js/components/profile.jsx"></script>

</head>

<body>
<div id="main-app">
</div>
</body>

<script type="text/babel" src="/js/index.js"></script>

</html>