<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>

    <script crossorigin src="/js/lib/react.development.js"></script>
    <script crossorigin src="/js/lib/react-dom.development.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.0.1/react-router-dom.min.js" crossorigin></script>

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <style>
        .card {
            border: 1px solid #ccc;
            padding: 20px;
            margin: 15px;
        }

        #main-app {
            display: flex;
        }
    </style>
</head>



<body>
<div id="main-app">
</div>
</body>

<script type="text/babel" src="/js/components/index.js"></script>

</html>