<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>

    <script crossorigin src="/js/react.development.js"></script>
    <script crossorigin src="/js/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <style>
        .card {
            border: 1px solid #ccc;
            padding: 20px;
            margin: 15px;
        }

        #main-app {
            display: flex;
        }
    </style>
</head>



<body>
<div id="main-app">
</div>
</body>

<script type="text/babel">

    let dataCards = [];

    function renderCard(data) {
        let splitData = splitString(data)

        return splitData.map((element) => {
            return (
                    <div className="card" key={element[0].toString()}>
                        <p> {element[0]} </p>
                        <p> {element[1]} </p>
                        <p> {element[2]} </p>
                        <p> {element[3]} </p>
                        <p> {element[4]} </p>
                        <p> {element[5]} </p>
                        <p> {element[6]} </p>
                        <p> {element[7]} </p>
                    </div>
            );
        });
    }

    function splitString(str) {

        for(let i=0; i < str.length; i++)
        {
            str[i] = str[i].toString().split(',')
        }
        return str
    }


    function recorsionCreateData(data) {
        data = data.replaceAll('"]','","')
        let begin = data.indexOf('"') + 1
        let end = data.indexOf('",') - 2
        let newData = data.substr(begin, end)

        dataCards.push(newData)

        let dataRecursion = data.substr(end+3, data.length)
        if (dataRecursion.length>10) {
            recorsionCreateData(dataRecursion)
        }

        ReactDOM.render(renderCard(dataCards), document.getElementById("main-app"));


    }

    // Жалуется на класс main?
    class Main extends React.Component {
        isMounted = false;
        constructor() {
            super();
            this.state = {permission: 0};
            this.main = {
                cards: {
                    value: "Информация о картах",
                }
            }

        }
        async componentDidMount() {
            this._isMounted = true;
            let response = await fetch('/userCardsInfo', {
                method: 'POST',
            })
            if (response.ok) {
                let data = (await response.text()).valueOf()

                // Create elements:
                recorsionCreateData(data)
                if (this.isMounted) {
                    this.setState({permission: 0});
                }

            }
        }

        componentWillUnmount() {
            this.isMounted = false;
        }

        render() {
            return (
                <h1
                >{this.main.cards.value}</h1>
            );
        }

    }

    class App extends React.Component {

        render() {
            return <Main/>;
        }
    }

    ReactDOM.render(<App/>, document.getElementById("main-app"));

</script>

</html>