<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Страница авторизации</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">

    <link href=/css/login.css type="text/css" rel=stylesheet>

    <script crossorigin src="/js/react.development.js"></script>
    <script crossorigin src="/js/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>


<body>
<div id="login-app"></div>
</body>


<script type="text/babel">

    class Login extends React.Component {
        constructor(props) {
            super(props);
            this.state = {permission: 0};
            this.login = {
                username: {
                    value: "",
                    handleChange: (event) => {
                        this.login.username.value = event.target.value;
                    }
                },
                password: {
                    value: "",
                    handleChange: (event) => {
                        this.login.password.value = event.target.value;
                    }
                },
                remember: {
                    value: false,
                    handleChange: () => {
                        if (this.login.remember.value == "true") {
                            this.login.remember.value = "false"
                        } else {
                            this.login.remember.value = "true";
                        }
                    }
                },

                login: {
                    loginHandle: async () => {
                        if (
                            this.login.username.value &&
                            this.login.password.value.length >= 3
                        ) {

                            let response = await fetch('/login?' + "username=" + this.login.username.value + "&password=" +
                                this.login.password.value + "&remember-me=" + this.login.remember.value, {
                                method: 'POST',
                            })
                            if (response.ok) {
                                window.location.href = "/"
                            }

                        } else {
                            this.setState({permission: 0, error: 1});
                        }
                    }
                },
                logout: {
                    logoutHandle: () => {
                        this.login.username.value = "";
                        this.login.password.value = "";
                        this.setState({permission: 0, error: 0});
                    }
                }
            };

            this.login.username.handleChange = this.login.username.handleChange.bind(this);
            this.login.password.handleChange = this.login.password.handleChange.bind(this);
            this.login.remember.handleChange = this.login.remember.handleChange.bind(this);
        }

        render() {
            let errormessage = <p class="error-msg"> Invalid login attempt! </p>;
            let loginForm = (
                <div>
                    <input
                        type="text"
                        tabindex="1"
                        placeholder="Username"
                        onChange={this.login.username.handleChange}
                    />
                    <input
                        type="password"
                        tabindex="1"
                        placeholder="Password"
                        onChange={this.login.password.handleChange}
                    />
                    {this.state.error ? errormessage : null}
                    <input
                        id="abc"
                        name="remember"
                        value="true"
                        type="checkbox"
                        class="display-none"
                        onClick= {this.login.remember.handleChange}
                    />
                    <label
                        for="abc"
                        class="label-block checkbox">
                        Remember me
                    </label>
                    <div class="btn btn-login" onClick={this.login.login.loginHandle}>
                        Login
                    </div>
                </div>
            );

            let content = (
                <div>
                    <h2>Wellcome!</h2>
                    <div class="btn btn-login" onClick={this.login.logout.logoutHandle}>
                        Logout
                    </div>
                </div>
            );

            return (
                <div className={`box ${this.state.permission ? "content" : "login"}`}>
                    {this.state.permission ? content : loginForm}
                </div>
            );
        }
    }

    class App extends React.Component {
        render() {
            return <Login/>;
        }
    }

    ReactDOM.render(<App/>, document.getElementById("login-app"));


</script>

</html>