<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Страница авторизации</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">

    <link href=/css/login.css type="text/css" rel=stylesheet>

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
</head>


<body>
<div id="login-app"></div>
</body>




<script>
    class Login extends React.Component {
        constructor(props) {
            super(props);
            this.state = {permission: 0};
            this.login = {
                username: {
                    value: "",
                    handleChange: event => {
                        this.login.username.value = event.target.value;
                    }
                },

                password: {
                    value: "",
                    handleChange: event => {
                        this.login.password.value = event.target.value;
                    }
                },

                remember: {
                    value: "false",
                    handleChange: event => {
                        this.login.remember.value = event.target.value;
                    }
                },

                login: {
                    loginHandle: async () => {
                        if (this.login.username.value && this.login.password.value.length >= 3) {

                            let response = await fetch('/login?' + "username=" + this.login.username.value + "&password=" + this.login.password.value
                                + "&remember-me=" + this.login.remember.value, {
                                method: 'POST',
                            })
                            if (response.ok) {
                                window.location.href="/"
                            }
                        } else {
                            this.setState({permission: 0, error: 1});
                        }
                    }
                },

            };


            this.login.username.handleChange = this.login.username.handleChange.bind(this);
            this.login.password.handleChange = this.login.password.handleChange.bind(this);
            this.login.remember.handleChange = this.login.remember.handleChange.bind(this);

        }

        render() {
            let errormessage = /*#__PURE__*/React.createElement("p", {class: "error-msg"}, " Invalid login attempt! ");
            let loginForm = /*#__PURE__*/
                React.createElement("div", null,
                    React.createElement("input", {
                        type: "text",
                        tabindex: "1",
                        placeholder: "Username",
                        onChange: this.login.username.handleChange
                    }),
                    React.createElement("input", {
                        type: "password",
                        tabindex: "1",
                        placeholder: "Password",
                        onChange: this.login.password.handleChange
                    }),
                    this.state.error ? errormessage : null,
                    React.createElement("input", {
                        id: "abc",
                        name: "remember-me",
                        value: "true",
                        type: "checkbox",
                        class: "display-none",
                        onChange: this.login.remember.handleChange
                    }),
                    React.createElement("label", {
                        for: "abc",
                        class: "label-block checkbox"
                    }, "Remember me"),


                    React.createElement("div", {
                        class: "btn btn-login",
                        onClick: this.login.login.loginHandle
                    }, "Login"));


            return (
                React.createElement("div", {
                        className: `box ${this.state.permission ? 'content' : 'login'}`
                    },

                    this.state.permission ? content : loginForm));


        }
    }

    class App extends React.Component {
        render() {
            return React.createElement(Login, null);
        }
    };
    ReactDOM.render(React.createElement(App, null), document.getElementById('login-app'));
</script>

</html>